.intro{
    padding: 51px 0 57px 0;
    background-color: #ffffff;
    &__img{
        display: block;
        margin: 0 auto;
        width: 223px;
        height: 130px;
        margin-bottom: 20px;
    }
    &__item{
        margin-bottom: 30px;
        &__title{
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            color: $main-color;
            margin-bottom: 5px;
        }
        &__descr{
            font-size: 12px;
            font-weight: 300;
            line-height: 1.57;
            text-align: center;
            color: #3a3a3a;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}